@import "../node_modules/bootstrap/scss/bootstrap";

$allstateBlue: #034AA4;

.pageHeader{
    border: 1px solid darkgray;
    box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem darkgray;
}

.card{
    border: 1px solid $allstateBlue;
    box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem darkgray;
    .card-header{
        background-color: $allstateBlue;
        color: white;
    }
}