<form>
  <div class="row my-5">
    <div class="col-12">
      <div class="card cardShadow">
        <div class="card-header">
          <h1 class="card-title mb-0">Section 1: Basic Information</h1>
        </div>
        <div class="card-text">
          <div class="row m-3">
            <div class="col-md-4 col-12 form-group">
              <label>First Name*</label>
              <input [(ngModel)]="quoteVm.quoteUser.firstName" name="firstName" type="text" placeholder="First" class="form-control" required/>
            </div>
            <div class="col-md-4 col-12 form-group">
              <label>Middle Name</label>
              <input [(ngModel)]="quoteVm.quoteUser.middleName" name="middleName" type="text" placeholder="Middle" class="form-control"/>
            </div>
            <div class="col-md-4 col-12 form-group">
              <label>Last Name*</label>
              <input [(ngModel)]="quoteVm.quoteUser.lastName" name="lastName" type="text" placeholder="Last" class="form-control" required/>
            </div>
          </div>
          <div class="row m-3">
            <div class="col-md-6 col-12 form-group">
              <label>Gender*</label>
              <select [(ngModel)]="quoteVm.quoteUser.gender" name="gender" class="form-control">
                <option value="m">Male</option>
                <option value="f">Female</option>
              </select>
            </div>
            <div class="col-md-6 col-12 form-group">
              <label>Date of Birth*</label>
              <input [(ngModel)]="quoteVm.quoteUser.dateOfBirth" name="dateOfBirth" type="date" class="form-control"/>
            </div>
          </div>
          <div class="row m-3">
            <div class="col-12 form-group">
              <label>Address 1*</label>
              <input [(ngModel)]="quoteVm.quoteUser.address1" name="address1" type="text" placeholder="Street Address" class="form-control" required/>
            </div>
            <div class="col-12 form-group">
              <label>Address 2</label>
              <input [(ngModel)]="quoteVm.quoteUser.address2" name="address2" type="text" placeholder="Apartment, Unit, etc." class="form-control" required/>
            </div>
          </div>
          <div class="row m-3">
            <div class="col-md-4 col-12 form-group">
              <label>City*</label>
              <input [(ngModel)]="quoteVm.quoteUser.city" name="city" type="text" placeholder="City" class="form-control"/>
            </div>
            <div class="col-md-4 col-12 form-group">
              <label>State*</label>
              <select [(ngModel)]="quoteVm.quoteUser.state" name="state" class="form-control">
                <option *ngFor="let s of states" value="{{s.stateId}}">{{s.abbreviation}}</option>
              </select>
            </div>
            <div class="col-md-4 col-12 form-group">
              <label>Zip Code*</label>
              <input [(ngModel)]="quoteVm.quoteUser.zipCode" name="zipCode" type="text" placeholder="Zip Code" class="form-control"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-12">
      <div class="card cardShadow">
        <div class="card-header">
          <h1 class="card-title m-0">Section 2: Property Type</h1>
        </div>
        <div class="card-text">
          <div class="row m-3">
            <div class="col-12 mb-3">
              <h5 class="my-3">What kind of property insurance do you need?</h5>
              <div class="btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-outline-secondary">
                  <input [(ngModel)]="quoteVm.policyType.policyTypeId" name="propertyType" type="radio" value="Home"/>Home
                </label>
                <label class="btn btn-outline-secondary">
                  <input [(ngModel)]="quoteVm.policyType.policyTypeId" name="propertyType" type="radio" value="Renters"/>Renters
                </label>
                <label class="btn btn-outline-secondary">
                  <input [(ngModel)]="quoteVm.policyType.policyTypeId" name="propertyType" type="radio" value="Condo"/>Condo
                </label>
              </div>
            </div>
            <div class="col-12">
              <h5 class="my-3">Please answer the following questions:</h5>
              <div class="form-group">
                <label class="mr-3">Do you own this property?</label>
                <div class="form-check">
                  <input [(ngModel)]="quoteVm.ownProperty" name="ownProperty" type="radio" value="true" class="form-check-input"/>
                  <label class="form-check-label">Yes</label>
                </div>
                <div class="form-check">
                  <input [(ngModel)]="quoteVm.ownProperty" name="ownProperty" type="radio" value="false" class="form-check-input"/>
                  <label class="form-check-label">No</label>
                </div>
              </div>
              <div class="form-group">
                <label>How many square feet is this residence?</label>
                <div class="input-group mb-3">
                  <input [(ngModel)]="quoteVm.squareFeet" name="squareFeet" type="number" placeholder="0" class="form-control" required/>
                  <div class="input-group-append">
                    <span class="input-group-text">sq. ft.</span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>What is your monthly payment for this property?</label>
                <div class="input-group mb-3">
                  <div class="input-group-append">
                    <span class="input-group-text">$</span>
                  </div>
                  <input [(ngModel)]="quoteVm.monthlyPayment" name="monthlyPayment" type="number" placeholder="0.00" class="form-control" required/>
                </div>
              </div>
              <div class="form-group">
                <label class="mr-3">Is this property in a flood zone?</label>
                <div class="form-check">
                  <input [(ngModel)]="quoteVm.floodZone" name="floodZone" type="radio" value="true" class="form-check-input"/>
                  <label class="form-check-label">Yes</label>
                </div>
                <div class="form-check">
                  <input [(ngModel)]="quoteVm.floodZone" name="floodZone" type="radio" value="false" class="form-check-input"/>
                  <label class="form-check-label">No</label>
                </div>
              </div>
              <div class="form-group">
                <label>What is the estimated total value of your personal belongings on this property?</label>
                <div class="input-group mb-3">
                  <div class="input-group-append">
                    <span class="input-group-text">$</span>
                  </div>
                  <input [(ngModel)]="quoteVm.propertyValue" name="propertyValue" type="number" placeholder="0.00" class="form-control" required/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-12">
      <button class="btn btn-block btn-outline-success">Get Quote</button>
    </div>
  </div>
</form>